{% extends 'base.html.twig' %}

{% block title %}{{ 'site.author.list'|trans }}{% endblock %}

{% block body %}

<div class="card shadow mt--300">
    <table class="table table-hover table-striped mb-0">
        <thead class="text-center">
            <tr>
                <th>{{ 'site.author.fullname'|trans }}</th>
                <th>{{ 'site.author.books_count'|trans }}</th>
                <th>{{ 'site.author.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td data-toggle="tooltip" data-placement="top" title="{{ author.surname }} {{ author.name }} {{ author.midname }}">
                        <a href="{{ path('author_show', {'id': author.id}) }}">{{ author.fullname }}</a>
                    </td>
                    <td>{{ author.books|length }}</td>
                    <td>
                        <a class="btn btn-sm btn-icon btn-2 btn-primary" href="{{ path('author_edit', {'id': author.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-icon btn-2 btn-danger" href="{{ path('author_remove', {'id': author.id}) }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
